body{
    background-color: cornflowerblue;
    color: floralwhite;
}
.title{
    background-color: black;
    color: floralwhite;
    padding: 15px;
    font-weight: dark;
}
.midile{
    display: flex;  
    justify-content: center;  
}
img{
  border: 20px solid blue;
  margin: 25px;
}
.left{ 
    float: left;
    width: 15%;
}
.right { 
    float:left;
    width: 15%;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #828282;
    overflow: hidden;
    text-align: center;
    padding: 10px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  .topnav span {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(46, 46, 46);
    color: rgb(82, 235, 217);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2004aa;
    color: white;
  }/* Add a black background color to the top navigation */
.topnav {
    background-color: #828282;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  .topnav span {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(46, 46, 46);
    color: rgb(82, 235, 217);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2004aa;
    color: white;
  }